@model IEnumerable<App.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Products";
}

<h4 style="padding-top:50px;">@ViewData["Title"]</h4>
<hr />
<partial name="_ProductList" model="@Model" />
<p>
    <a class="btn btn-info float-right" asp-action="Create">Create New</a>
</p>

