@model IEnumerable<App.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Products";
}

<h4 style="padding-top:50px;">@ViewData["Title"]</h4>
<hr />
<vc:Summary></vc:Summary>
<partial name="_ProductList" model="@Model" />
<hr />
<p supress-by-claim-name="Products" supress-by-claim-value="Create">
    <a class="btn btn-info float-right" asp-action="Create">Create New</a>
</p>

