@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@{
    if (Model == null)
    {
        <div>
            <h2>Ops! Something went wrong.</h2>
        </div>
    }
    else
    {
        <h2>@Html.Raw(Model.Title)</h2>
        <h3 class="text-danger">@Html.Raw(Model.Message)</h3>
    }
}